### Importing Library for Data Cleaning

In [106]:
import pandas as pd

### Loading in the Dataset

In [107]:
df = pd.read_csv(r"C:\Users\USER\Downloads\messy_HR_data.csv")
pd.set_option('display.max_rows', 1001)

In [108]:
df.head()

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,david,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321

### Checking the amount of Rows and Columns

In [109]:
df.shape

(1000, 10)

### Checking the Data Type of each Column

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1000 non-null   object
 1   Age                841 non-null    object
 2   Salary             1000 non-null   object
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Position           1000 non-null   object
 6   Joining Date       1000 non-null   object
 7   Performance Score  1000 non-null   object
 8   Email              610 non-null    object
 9   Phone Number       815 non-null    object
dtypes: object(10)
memory usage: 78.3+ KB

### Checking for NA values

In [111]:
df.isna().sum()

Name                   0
Age                  159
Salary                 0
Gender                 0
Department             0
Position               0
Joining Date           0
Performance Score      0
Email                390
Phone Number         185
dtype: int64

### Checking for duplicate Rows

In [112]:
df.duplicated().sum()

0

### Standardizing the Name Column

In [113]:
df['Name'] = df['Name'].astype(str)
df['Name']= df['Name'].str.strip().str.capitalize()
df.head(20)

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
5,Jack,NaN,65000,Other,Marketing,Director,03-25-2019,F,user@domain.com,NaN
6,Charlie,NaN,50000,Male,Marketing,Clerk,2019.12.01,B,NaN,123-456-7890
7,Grace,40,50000,Other,HR,Director,03-25-2019,C,NaN,
8,Hannah,40,SIXTY THOUSAND,Female,Marketing,Manager,01/15/2020,C,user@domain.com,123-456-7890
9,Eve,thirty,NAN,Other,Finance,Assistant,2020/02/20,A,NaN,
10,David,25,70000,Male,Marketing,Analyst,2019.12.01,B,NaN,123-456-7890
11,Hannah,NaN,70000,Other,Finance,Assistant,03-25-2019,A,NaN,NaN
12,Hannah,thirty,50000,Male,IT,Assistant,"April 5, 2018",D,NaN,
13,Charlie,25,55000,Other,HR,Manager,2020/02/20,F,NaN,555-555-5555
14,Frank,50,NAN,Male,Marketing,Director,03-25-2019,A,NaN,123-456-7890
15,Eve,35,65000,Male,Finance,Clerk,"April 5, 2018",F,NaN,123-456-7890
16,Bob,40,55000,Female,Sales,Assistant,01/15/2020,B,NaN,098-765-4321
17,Hannah,50,55000,Male,HR,Director,"April 5, 2018",D,user@domain.com,
18,Frank,25,NAN,Female,IT,Clerk,03-25-2019,B,email@example.com,555-555-5555
19,Bob,50,50000,Female,Finance,Assistant,03-25-2019,D,user@domain.com,NaN

### Converting the Age Column to Integer Data Type and Standardizing it

In [114]:
df['Age'] = df['Age'].fillna('').str.replace('thirty', '30')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df.head(20)

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,<NA>,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,<NA>,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,<NA>,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
5,Jack,<NA>,65000,Other,Marketing,Director,03-25-2019,F,user@domain.com,NaN
6,Charlie,<NA>,50000,Male,Marketing,Clerk,2019.12.01,B,NaN,123-456-7890
7,Grace,40,50000,Other,HR,Director,03-25-2019,C,NaN,
8,Hannah,40,SIXTY THOUSAND,Female,Marketing,Manager,01/15/2020,C,user@domain.com,123-456-7890
9,Eve,30,NAN,Other,Finance,Assistant,2020/02/20,A,NaN,
10,David,25,70000,Male,Marketing,Analyst,2019.12.01,B,NaN,123-456-7890
11,Hannah,<NA>,70000,Other,Finance,Assistant,03-25-2019,A,NaN,NaN
12,Hannah,30,50000,Male,IT,Assistant,"April 5, 2018",D,NaN,
13,Charlie,25,55000,Other,HR,Manager,2020/02/20,F,NaN,555-555-5555
14,Frank,50,NAN,Male,Marketing,Director,03-25-2019,A,NaN,123-456-7890
15,Eve,35,65000,Male,Finance,Clerk,"April 5, 2018",F,NaN,123-456-7890
16,Bob,40,55000,Female,Sales,Assistant,01/15/2020,B,NaN,098-765-4321
17,Hannah,50,55000,Male,HR,Director,"April 5, 2018",D,user@domain.com,
18,Frank,25,NAN,Female,IT,Clerk,03-25-2019,B,email@example.com,555-555-5555
19,Bob,50,50000,Female,Finance,Assistant,03-25-2019,D,user@domain.com,NaN

### Converting the Salary Column to Integer Data Type and Standardizing it

In [115]:
df['Salary'] = df['Salary'].str.replace('SIXTY THOUSAND','60000').str.replace('NAN','')
df['Salary'] = pd.to_numeric(df['Salary'], errors = 'coerce').astype('Int64')

In [116]:
df.head(20)

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,David,<NA>,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,Hannah,35,60000,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,Eve,<NA>,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,Grace,<NA>,<NA>,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321
5,Jack,<NA>,65000,Other,Marketing,Director,03-25-2019,F,user@domain.com,NaN
6,Charlie,<NA>,50000,Male,Marketing,Clerk,2019.12.01,B,NaN,123-456-7890
7,Grace,40,50000,Other,HR,Director,03-25-2019,C,NaN,
8,Hannah,40,60000,Female,Marketing,Manager,01/15/2020,C,user@domain.com,123-456-7890
9,Eve,30,<NA>,Other,Finance,Assistant,2020/02/20,A,NaN,
10,David,25,70000,Male,Marketing,Analyst,2019.12.01,B,NaN,123-456-7890
11,Hannah,<NA>,70000,Other,Finance,Assistant,03-25-2019,A,NaN,NaN
12,Hannah,30,50000,Male,IT,Assistant,"April 5, 2018",D,NaN,
13,Charlie,25,55000,Other,HR,Manager,2020/02/20,F,NaN,555-555-5555
14,Frank,50,<NA>,Male,Marketing,Director,03-25-2019,A,NaN,123-456-7890
15,Eve,35,65000,Male,Finance,Clerk,"April 5, 2018",F,NaN,123-456-7890
16,Bob,40,55000,Female,Sales,Assistant,01/15/2020,B,NaN,098-765-4321
17,Hannah,50,55000,Male,HR,Director,"April 5, 2018",D,user@domain.com,
18,Frank,25,<NA>,Female,IT,Clerk,03-25-2019,B,email@example.com,555-555-5555
19,Bob,50,50000,Female,Finance,Assistant,03-25-2019,D,user@domain.com,NaN

### Checking for errors in the Position, Gender and Department Columns

In [117]:
print(df['Position'].unique())

print(df['Gender'].unique())

print(df['Department'].unique())

['Manager' 'Director' 'Clerk' 'Assistant' 'Analyst']
['Male' 'Female' 'Other']
['HR' 'Finance' 'Sales' 'IT' 'Marketing']

### Standardizing the Date Column to have a consistent format

In [118]:
df['Joining Date'] = pd.to_datetime(df['Joining Date'], format = 'mixed',  errors = 'coerce')
df.head(20)

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,2018-04-05,D,email@example.com,NaN
1,David,<NA>,65000,Female,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,60000,Female,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,<NA>,50000,Female,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,<NA>,<NA>,Female,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
5,Jack,<NA>,65000,Other,Marketing,Director,2019-03-25,F,user@domain.com,NaN
6,Charlie,<NA>,50000,Male,Marketing,Clerk,2019-12-01,B,NaN,123-456-7890
7,Grace,40,50000,Other,HR,Director,2019-03-25,C,NaN,
8,Hannah,40,60000,Female,Marketing,Manager,2020-01-15,C,user@domain.com,123-456-7890
9,Eve,30,<NA>,Other,Finance,Assistant,2020-02-20,A,NaN,
10,David,25,70000,Male,Marketing,Analyst,2019-12-01,B,NaN,123-456-7890
11,Hannah,<NA>,70000,Other,Finance,Assistant,2019-03-25,A,NaN,NaN
12,Hannah,30,50000,Male,IT,Assistant,2018-04-05,D,NaN,
13,Charlie,25,55000,Other,HR,Manager,2020-02-20,F,NaN,555-555-5555
14,Frank,50,<NA>,Male,Marketing,Director,2019-03-25,A,NaN,123-456-7890
15,Eve,35,65000,Male,Finance,Clerk,2018-04-05,F,NaN,123-456-7890
16,Bob,40,55000,Female,Sales,Assistant,2020-01-15,B,NaN,098-765-4321
17,Hannah,50,55000,Male,HR,Director,2018-04-05,D,user@domain.com,
18,Frank,25,<NA>,Female,IT,Clerk,2019-03-25,B,email@example.com,555-555-5555
19,Bob,50,50000,Female,Finance,Assistant,2019-03-25,D,user@domain.com,NaN

### Replacing NA with blank spaces to make it look cleaner

In [119]:
df['Email'] = df['Email'].str.strip().fillna('')
df['Phone Number'] = df['Phone Number'].str.strip().fillna('')
df.head(20)

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,Grace,25,50000,Male,HR,Manager,2018-04-05,D,email@example.com,
1,David,<NA>,65000,Female,Finance,Director,2020-02-20,F,user@domain.com,123-456-7890
2,Hannah,35,60000,Female,Sales,Director,2020-01-15,C,email@example.com,098-765-4321
3,Eve,<NA>,50000,Female,IT,Manager,2018-04-05,A,name@company.org,
4,Grace,<NA>,<NA>,Female,Finance,Manager,2020-01-15,F,name@company.org,098-765-4321
5,Jack,<NA>,65000,Other,Marketing,Director,2019-03-25,F,user@domain.com,
6,Charlie,<NA>,50000,Male,Marketing,Clerk,2019-12-01,B,,123-456-7890
7,Grace,40,50000,Other,HR,Director,2019-03-25,C,,
8,Hannah,40,60000,Female,Marketing,Manager,2020-01-15,C,user@domain.com,123-456-7890
9,Eve,30,<NA>,Other,Finance,Assistant,2020-02-20,A,,
10,David,25,70000,Male,Marketing,Analyst,2019-12-01,B,,123-456-7890
11,Hannah,<NA>,70000,Other,Finance,Assistant,2019-03-25,A,,
12,Hannah,30,50000,Male,IT,Assistant,2018-04-05,D,,
13,Charlie,25,55000,Other,HR,Manager,2020-02-20,F,,555-555-5555
14,Frank,50,<NA>,Male,Marketing,Director,2019-03-25,A,,123-456-7890
15,Eve,35,65000,Male,Finance,Clerk,2018-04-05,F,,123-456-7890
16,Bob,40,55000,Female,Sales,Assistant,2020-01-15,B,,098-765-4321
17,Hannah,50,55000,Male,HR,Director,2018-04-05,D,user@domain.com,
18,Frank,25,<NA>,Female,IT,Clerk,2019-03-25,B,email@example.com,555-555-5555
19,Bob,50,50000,Female,Finance,Assistant,2019-03-25,D,user@domain.com,

### Checking of Phone Numbers that are incomplete or missing

In [120]:
df[df['Phone Number'].str.len() < 12].count()['Phone Number']

376